<nav aria-label="Page navigation" style="text-align:center;" ng-show="pages.length">
    <ul class="pagination">
        <li ng-click="changePage(pageSelected - 1)">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-class="{'active': pageSelected == page}"ng-repeat="page in pages" ng-click="changePage(page)"><a href="#">{{page}}</a></li>
        <li ng-click="changePage(pageSelected + 1)">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
