<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Register Code</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Register Code: </span>
        <input type="text" ng-model="registerCode" class="form-control" placeholder="Register Code" >
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="">Change</button>
    <button class="btn btn-primary" type="button" ng-click="">Cancel</button>
</div>
