<div class="container" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left"  ng-click="back()" style="padding-top: 7.5px;" ng-show="(isAdmin || isUser) && !update">< Add Student</h4>
            <h4 class="panel-title pull-left"  ng-click="back()" style="padding-top: 7.5px;" ng-show="update && (isAdmin || isMe)">< Update Student</h4>
            <h4 class="panel-title pull-left"  ng-click="back()" style="padding-top: 7.5px;" ng-show="isUser && !isMe && update && !isAdmin" >< View Student</h4>
            <div class="btn-group pull-right" ng-click="refresh()" ng-show="update">
                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-refresh" style=""></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="imageProfile" ng-show="!loading" ng-click="openCamera()"
                ng-style="{'background-image':'url('+(info.image ? info.image:'img/default_profile_img.png')+')'}">
            </div>
            <div class="imageProfile" ng-show="loading"
                ng-style="{'background-image':'url('+('img/loading.gif')+')'}">
            </div>
            <form ng-submit="add(addForm)" name="addForm">
                <div class="form-group" ng-class="{'has-error': addForm.code.$invalid &&
                                 addForm.code.$dirty}">
                    <label for="code">Student Code *:</label>
                    <input placeholder="56216XXXXX" ng-model="info.code" type="text" ng-disabled="update" required class="form-control" name="code" minlength="10" maxlength="10">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.name.$invalid &&
                                 addForm.name.$dirty}">
                    <label for="name">Firstname *:</label>
                    <input ng-disabled="isUser && !isMe && update" placeholder="Firstname.." ng-model="info.name" type="text" required class="form-control" name="name" maxlength="50">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.surname.$invalid &&
                                 addForm.surname.$dirty}">
                    <label for="surname">Lastname *:</label>
                    <input ng-disabled="isUser && !isMe && update" placeholder="Lastname.." ng-model="info.surname" type="text" required class="form-control" name="surname" maxlength="50">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.tel.$invalid &&
                                 addForm.tel.$dirty}">
                    <label for="tel">Tel:</label>
                    <input ng-disabled="isUser && !isMe && update"  class="form-control" pattern="^0[0-9-]{11}" type="text" placeholder="099-888-7777" ng-model="info.tel" name="tel" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                </div>
                <div class="form-group">
                    <label for="teacher">Teacher Consultant:</label>
                    <input ng-disabled="isUser && !isMe && update" placeholder="Teacher Consultant.." ng-model="info.teacher" type="text" class="form-control" name="teacher" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="facebook">Facebook:</label>
                    <input ng-disabled="isUser && !isMe && update" placeholder="Ex. www.facebook.com/example || example" ng-model="info.facebook" type="text" class="form-control" name="facebook" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="address">House No:</label>
                    <input ng-disabled="isUser && !isMe && update" placeholder=">House No.." ng-model="info.houseno" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">Sub-district:</label>
                    <input ng-disabled="isUser && !isMe && update" placeholder="Sub-district.." ng-model="info.subdistrict" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">District:</label>
                    <input ng-disabled="isUser && !isMe && update" placeholder="District.." ng-model="info.district" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">Province:</label>
                    <input ng-disabled="isUser && !isMe && update"  placeholder="Province.." ng-model="info.province" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">Postal Code:</label>
                    <input ng-disabled="isUser && !isMe && update"  placeholder="Postal Code.." ng-model="info.postal" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="pr">Parent:</label>
                    <input ng-disabled="isUser && !isMe && update" ng-model="info.prname" type="text" class="form-control" name="prname" placeholder="Firstname..">
                    <input ng-disabled="isUser && !isMe && update" ng-model="info.prsurname" ng-show="info.prname" style="margin-top:5px;" type="text" class="form-control" name="prsurname" placeholder="Lastname..">
                    <input ng-disabled="isUser && !isMe && update" ng-model="info.praddress" ng-show="info.prname && info.prsurname" style="margin-top:5px;" type="text" class="form-control" name="praddress" placeholder="Tel..">
                </div>
                <div class="form-group">
                    <label for="cf">Close Friend:</label>
                    <input ng-disabled="isUser && !isMe && update" ng-model="info.cfname" type="text" class="form-control" name="cfname" placeholder="Firstname..">
                    <input ng-disabled="isUser && !isMe && update" ng-model="info.cfsurname" ng-show="info.cfname" style="margin-top:5px;" type="text" class="form-control" name="cfsurname" placeholder="Lastname..">
                    <input ng-disabled="isUser && !isMe && update" ng-model="info.cfaddress" ng-show="info.cfname && info.cfsurname" style="margin-top:5px;" type="text" class="form-control" name="cfaddress" placeholder="Tel..">
                </div>
                <button ng-disabled="loading" type="button" ng-click="back()" class="btn btn-default">Back</button>
                <button ng-show="!update" ng-disabled="loading" type="submit" class="btn btn-primary" style="float:right;">Add</button>
                <button ng-show="update && (isAdmin || isMe)" ng-disabled="loading" type="submit" class="btn btn-success" style="float:right;">Update</button>
                <button ng-show="!update" ng-disabled="loading" type="reset" class="btn btn-default" style="float:right;margin-right:10px;">Reset</button>
            </form>
        </div>
    </div>
</div>
