<div class="container" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading" ui-sref="dashboard.datatable">
            <h4 ng-show="!update && isAdmin">< Add Student</h4>
            <h4 ng-show="update && isAdmin">< Update Student</h4>
            <h4 ng-show="!isAdmin">< View Student</h4>
        </div>
        <div class="panel-body">
            <div class="imageProfile"
                ng-style="{'background-image':'url('+(info.image ? info.image:'img/default_profile_img.png')+')'}">
            </div>
            <form ng-submit="add(addForm)" name="addForm">
                <div class="form-group" ng-class="{'has-error': addForm.code.$invalid &&
                                 addForm.code.$dirty}">
                    <label for="code">Student Code *:</label>
                    <input placeholder="56216XXXXX" ng-model="info.code" type="text" ng-disabled="update || !isAdmin" required class="form-control" name="code" minlength="10" maxlength="10">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.name.$invalid &&
                                 addForm.name.$dirty}">
                    <label for="name">Firstname *:</label>
                    <input ng-disabled="!isAdmin" placeholder="Firstname.." ng-model="info.name" type="text" required class="form-control" name="name" maxlength="50">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.surname.$invalid &&
                                 addForm.surname.$dirty}">
                    <label for="surname">Lastname *:</label>
                    <input ng-disabled="!isAdmin" placeholder="Lastname.." ng-model="info.surname" type="text" required class="form-control" name="surname" maxlength="50">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.tel.$invalid &&
                                 addForm.tel.$dirty}">
                    <label for="tel">Tel:</label>
                    <input ng-disabled="!isAdmin" placeholder="0998887777" ng-model="info.tel" type="tel" class="form-control" name="tel" maxlength="10" pattern="^0[0-9]{9}">
                </div>
                <div class="form-group">
                    <label for="facebook">Facebook:</label>
                    <input ng-disabled="!isAdmin" placeholder="Ex. www.facebook.com/example || example" ng-model="info.facebook" type="text" class="form-control" name="facebook" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea ng-disabled="!isAdmin" placeholder="Address.." ng-model="info.address" type="text" class="form-control" name="address" maxlength="200">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="cf">Close Friend:</label>
                    <input ng-disabled="!isAdmin" ng-model="info.cfname" type="text" class="form-control" name="cfname" placeholder="Firstname..">
                    <input ng-disabled="!isAdmin" ng-model="info.cfsurname" ng-show="info.cfname" style="margin-top:5px;" type="text" class="form-control" name="cfsurname" placeholder="Lastname..">
                    <input ng-disabled="!isAdmin" ng-model="info.cfaddress" ng-show="info.cfsurname" style="margin-top:5px;" type="text" class="form-control" name="cfaddress" placeholder="Address..">
                </div>
                <button type="button" ui-sref="dashboard.datatable" class="btn btn-default">Back</button>
                <button ng-show="isAdmin && !update" ng-disabled="loading" type="submit" class="btn btn-primary" style="float:right;">Add</button>
                <button ng-show="isAdmin && update" ng-disabled="loading" type="submit" class="btn btn-success" style="float:right;">Update</button>
                <button ng-show="isAdmin" type="reset" class="btn btn-default" style="float:right;margin-right:10px;">Reset</button>
            </form>
        </div>
    </div>
</div>
