<div ng-include="'templates/pager.html'"></div>
<div class="container" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading" style="height:55px;">
            <div class="btn-group pull-left" style="width:55%">
                <input type="text" placeholder="Search..." ng-model="searchText" class="form-control" ng-change="search()"></input>
            </div>
            <div class="btn-group pull-right" ng-click="refresh()">
                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-refresh" style="height: 22px;padding-top: 5px;"></i></a>
            </div>
            <div class="btn-group pull-right" style="margin-right:10px;">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Year : {{yearSelected}}
                        <span class="caret"></span>
                    </button>
                    <ul style="min-width:50px;" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="year in allYear" ng-click="listYear(year)" ng-hide="year == yearSelected"><a href="#">{{year}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding:0px; height:0px;" ng-show="hasInfo">
            <ul class="list-group">
                <table-item is-admin="isAdmin" delete-student="deleteStudent(item.id, $index)" update="update(item)"
                ng-repeat="item in itemsTable | orderBy : 'id'" item="item" index="$index" page="pageSelected">

                </table-item>
            </ul>
        </div>
        <div class="panel-body" ng-show="!hasInfo">
            <h1 style="text-align:center;">No Information</h1>
        </div>
    </div>
</div>
<div ng-include="'templates/pager.html'"></div>
<img ng-show="isAdmin" class="itemAddIcon" ui-sref="dashboard.add" src="img/plus-icon.png" />
