<div class="itemTable">
    <div class="itemImage" ng-click="update()">
        <img class="imgProfile" ng-src="{{item.image || './resources/img/default_profile_img.png'}}">
    </div>
    <div class="ItemInfo" ng-click="update()">
        <div>
            {{item.idShow}}
        </div>
        <div>
            {{item.name}}
        </div>
        <div>
            {{item.surname}}
        </div>
    </div>
    <div class="itemOption">
        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
        <i class="fa fa-trash-o fa-2x" ng-click="deleteStudent()" aria-hidden="true"></i>
    </div>
    <br style="clear:both;" />
</div>
