<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
           <h4>Add Student</h4>
        </div>
        <div class="panel-body" style="padding:0px; height:0px;">
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="surname">Password:</label>
                    <input type="text" class="form-control" id="surname">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
        </div>
    </div>
</div>
