<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 ng-show="!update">Add Student</h4>
            <h4 ng-show="update">Update Student</h4>
        </div>
        <div class="panel-body">
            <div class="imageProfile" ng-show="!loading"
                ng-style="{'background-image':'url('+(info.image ? info.image:'./resources/img/default_profile_img.png')+')'}"
                ngf-select="uploadImage($file)" accept="image/*" >
            </div>
            <div class="imageProfile" ng-show="loading"
                ng-style="{'background-image':'url('+('./resources/img/loading.gif')+')'}">
            </div>
            <form ng-submit="add(addForm)" name="addForm">
                <div class="form-group" ng-class="{'has-error': addForm.code.$invalid &&
                                 addForm.code.$dirty}">
                    <label for="code">Student Code *:</label>
                    <input placeholder="56216XXXXX" ng-model="info.code" type="text" ng-disabled="update" required class="form-control" name="code" minlength="10" maxlength="10">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.name.$invalid &&
                                 addForm.name.$dirty}">
                    <label for="name">Firstname *:</label>
                    <input placeholder="Firstname.." ng-model="info.name" type="text" required class="form-control" name="name" maxlength="50">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.surname.$invalid &&
                                 addForm.surname.$dirty}">
                    <label for="surname">Lastname *:</label>
                    <input placeholder="Lastname.." ng-model="info.surname" type="text" required class="form-control" name="surname" maxlength="50">
                </div>
                <div class="form-group" ng-class="{'has-error': addForm.tel.$invalid &&
                                 addForm.tel.$dirty}">
                    <label for="tel">Tel:</label>
                    <input class="form-control" pattern="^0[0-9-]{11}" type="text" placeholder="099-888-7777" ng-model="info.tel" name="tel" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                </div>
                <div class="form-group">
                    <label for="teacher">Teacher Consultant:</label>
                    <input placeholder="Teacher Consultant.." ng-model="info.teacher" type="text" class="form-control" name="teacher" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="facebook">Facebook:</label>
                    <input placeholder="Ex. www.facebook.com/example || example" ng-model="info.facebook" type="text" class="form-control" name="facebook" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="address">House No:</label>
                    <input placeholder=">House No.." ng-model="info.houseno" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">Sub-district:</label>
                    <input placeholder="Sub-district.." ng-model="info.subdistrict" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">District:</label>
                    <input placeholder="District.." ng-model="info.district" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">Province:</label>
                    <input placeholder="Province.." ng-model="info.province" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="address">Postal Code:</label>
                    <input placeholder="Postal Code.." ng-model="info.postal" type="text" class="form-control" name="address" maxlength="200">
                </div>
                <div class="form-group">
                    <label for="pr">Parent:</label>
                    <input ng-model="info.prname" type="text" class="form-control" name="prname" placeholder="Firstname..">
                    <input ng-model="info.prsurname" ng-show="info.prname" style="margin-top:5px;" type="text" class="form-control" name="prsurname" placeholder="Lastname..">
                    <input ng-show="info.prname && info.prsurname" class="form-control" style="margin-top:5px;" pattern="^0[0-9-]{11}" type="text" placeholder="099-888-7777" ng-model="info.praddress" name="praddress" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                </div>
                <div class="form-group">
                    <label for="cf">Close Friend:</label>
                    <input ng-model="info.cfname" type="text" class="form-control" name="cfname" placeholder="Firstname..">
                    <input ng-model="info.cfsurname" ng-show="info.cfname" style="margin-top:5px;" type="text" class="form-control" name="cfsurname" placeholder="Lastname..">
                    <input ng-show="info.cfname && info.cfsurname" class="form-control"style="margin-top:5px;"  pattern="^0[0-9-]{11}" type="text" placeholder="099-888-7777" ng-model="info.cfaddress" name="cfaddress" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                </div>
                <button ng-disabled="loading" type="button" ui-sref="dashboard.datatable" class="btn btn-default">Back</button>
                <button ng-disabled="loading" ng-show="!update" type="submit" class="btn btn-primary" style="float:right;">Submit</button>
                <button ng-disabled="loading" ng-show="update" type="submit" class="btn btn-success" style="float:right;">Update</button>
                <button ng-disabled="loading" ng-show="!update" type="reset"  class="btn btn-default" style="float:right;margin-right:10px;">Reset</button>
            </form>
        </div>
    </div>
</div>
