<div ng-include="'../resources/views/templates/pager.html'"></div>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <input type="text" placeholder="Search..." class="form-control" ng-model="itemSearch"></input>
            </div>
            <h4>Panel header</h4>
        </div>
        <div class="panel-body" style="padding:0px; height:0px;">
            <ul class="list-group">
                <table-item ng-repeat="item in itemsTable | filter : itemSearch | orderBy : 'id'" item="item">

                </table-item>
            </ul>
        </div>
    </div>
</div>
<div ng-include="'../resources/views/templates/pager.html'"></div>
<img class="itemAddIcon" ui-sref="dashboard.add" src="../resources/img/plus-icon.png" />
