<div ng-include="'../resources/views/templates/pager.html'"></div>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <input type="text" placeholder="Search..." ng-model="searchText" class="form-control" ng-change="search()"></input>
            </div>
            <div class="btn-group pull-right" style="margin-right:10px;">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Year : {{yearSelected}}
                <span class="caret"></span>
                </button>
                    <ul style="min-width:50px;" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="year in allYear" ng-click="listYear(year)" ng-hide="year == yearSelected"><a href="#">{{year}}</a></li>
                    </ul>
                </div>
            </div>
            <h4>Computer-Science students</h4>
        </div>
        <div class="panel-body" style="padding:0px; height:0px;" ng-show="hasInfo">
            <ul class="list-group">
                <table-item delete-student="deleteStudent(item.id, $index)" update="update(item)"
                ng-repeat="item in itemsTable | orderBy : 'id'" item="item">

                </table-item>
            </ul>
        </div>
        <div class="panel-body" ng-show="!hasInfo">
            <h1 style="text-align:center;">No Information</h1>
        </div>
    </div>
</div>
<div ng-include="'../resources/views/templates/pager.html'"></div>
<img class="itemAddIcon" ui-sref="dashboard.add" src="../resources/img/plus-icon.png" />
