<div class="container">
    <div class="panel panel-primary loginPanel">
        <div class="panel-heading">
            <h1 class="panel-title">Register</h1>
        </div>
        <div class="panel-body">
            <form ng-submit="register(registerForm)" name="registerForm">
                <div class="form-group" ng-class="{'has-error': registerForm.username.$invalid &&
                                 registerForm.username.$dirty}">
                    <label for="username">Username *:</label>
                    <input ng-model="info.username" type="text" required class="form-control" name="username" minlength="6">
                </div>
                <div class="form-group" ng-class="{'has-error': registerForm.password.$invalid &&
                            registerForm.password.$dirty || (
                            (info.passwordConf != info.password)  &&
                            registerForm.ConfPassword.$dirty && registerForm.password.$dirty)}">
                    <label for="password">Password *:</label>
                    <input ng-model="info.password" type="password" required class="form-control" name="password" minlength="8">
                </div>
                <div class="form-group" ng-class="{'has-error': registerForm.ConfPassword.$invalid &&
                            registerForm.ConfPassword.$dirty || (
                            (info.passwordConf != info.password)  &&
                            registerForm.ConfPassword.$dirty && registerForm.password.$dirty)}">
                    <label for="ConfPassword">Confirm Password *:</label>
                    <input ng-model="info.passwordConf" type="password" required class="form-control" name="ConfPassword" minlength="8">
                </div>
                <div class="form-group" ng-class="{'has-error': registerForm.code.$invalid &&
                       registerForm.code.$dirty}">
                    <label for="code">Register Code *:</label>
                    <input ng-model="info.code" type="password" required class="form-control" name="code">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
        </div>
        <div class="panel-footer loginFooter">
            <a ui-sref="login">Login</a>
        </div>
    </div>
</div>
