<div class="container">
    <div class="panel panel-primary loginPanel">
        <div class="panel-heading">
            <h1 class="panel-title">Register</h1>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="ConfPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="ConfPassword">
                </div>
                <div class="form-group">
                    <label for="code">Register Code:</label>
                    <input type="password" class="form-control" id="code">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
        </div>
        <div class="panel-footer loginFooter">
            <a ui-sref="login">Login</a>
        </div>
    </div>
</div>
